{% extends "template.html" %}

{% block title %} 
<title>Menu Digital | {{ title }} </title>
{% endblock %}



{% block content %}

{% for item in products %}

<div class="container-fluid">
    <div class="row" id="item">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal" style="display: flex; float: 1 1 auto;">
                    <div class="img-square-wrapper">
                        <img class="" src="{{item.url}}" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{item.nome}}</h4>
                        <p class="card-text">{{item.descricao}}</p>
                        <button type="button" class="btn btn-info btn-sm" onclick="load_page('?class=ProdutoForm&method=update&id={{item.id}}')">Alterar</button>
                        <button type="button" class="btn btn-danger btn-sm" id="delete_item" data-action='?class=ProdutoList&method=delete' data-id='{{item.id}}'>Excluir</button>
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Categoria: {{ item.get_categoria }} | Quantidade em estoque: {{item.qtd_estoque}}</small>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}

{% block script %} 
  <script src="App/View/js/produto_list.js"></script>
{% endblock %}